.wrap-modal {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-modal {
    width: 400px;
    height: 305px;
}


/*头部*/

.panel-head {
    height: 50px;
    border-bottom: solid 1px #ebebeb;
}

.panel-head .cynote{
    width: 150px;
    height: 49px;
    display: inline-block;
    margin-left: 20%;
    cursor: pointer;
}
.panel-head .cynote img{
    width: 80%;
    height: inherit;
}


/* 
    @chao
    改善top右边的菜单布局方式
*/

.panel-head .right-menu {
    position: absolute;
    right: 20%;
    width: 150px;
    height: inherit;
    display: inline-block;
}

.style-button {
    font-size: 16px;
    height: 49px;
    line-height: 49px;
    border: none;
    outline-width: 0;
    background-color: #fff;
    color: gray;
    vertical-align: top;
    display: inline-block;
}

.style-button i{
    font-size: 20px;
    margin-right:4px;
    display: inline-block;
    margin-top:2px;
    height:40px;
}

.style-button .write{
    display: inline-block;
    vertical-align: top;
}

.style-button:hover,
.select-style i:hover {
    color: #000;
}

.select-style {
    width: 40px;
    height: inherit;
    line-height: 49px;
    display: inline-block;
    padding-left: 20px;
    position: relative;
}

.select-style i {
    display: inline-block;
    font-size: 25px;
    color: gray;
    cursor: pointer;
}


/*弹框样式*/

.select-style .menu-down {
    position: absolute;
    top: 50px;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 4px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .05);
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    border-top: none;
    right: -30px;
}


/* 
    top三角 三角边框 利用小三角覆盖大三角中间部分
    获得边框
*/

.bomb-box::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 25px;
    width: 0;
    height: 0;
    font-size: 0;
    border-bottom: 11px solid rgba(0, 0, 0, .08);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.bomb-box ul::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 26px;
    width: 0;
    height: 0;
    font-size: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.bomb-box ul li:first-child:hover::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 26px;
    width: 0;
    height: 0;
    font-size: 0;
    border-bottom: 10px solid #f7f8f9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.bomb-box ul {
    padding: 0;
    margin: 0;
}

.bomb-box ul li {
    list-style: none;
    width: 100%;
    height: 50px;
    padding: 0px 0 10px 15px;
    cursor: pointer;
}

.bomb-box ul li:hover {
    background-color: #f7f8f9;
}


/*
    模态框背景drop颜色
*/

.modal-backdrop {
    background-color: rgba(255, 255, 255, .9)!important;
}


/*
    模态框的阴影改变
*/

.modal-content {
    box-shadow: 0 8px 18px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .08);
}

.modal-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 56px;
    display: inline-block;
}